body{
    padding: 0px;
    margin: 0px;
}

.page-data{
    margin-top: 80px;
    display: flex;
}

.page-header{
    margin: 0%;
    /* background-color: rgb(253, 248, 234); */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    padding-top: 30px;
    box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.3);
    height: 100px;
}

.homeHead{
    
}



.midle-btn{
   
    display: flex;
    justify-content: start;
    gap: 30px;
    margin-bottom: 27px;
    position: relative;
}

.show{
    position: relative;
}

.show:hover{
    cursor: pointer;
   
}

.show::before{
    content: attr(data-gallary);
    position: absolute;
    color: white;
    top: -50px;
    left: -40px;
    padding:10px;
    text-align: center;
    opacity: 0;
    width: 90px;
    background-color: rgb(186, 162, 131);
    border-radius: 20px;    
}

.show:hover::before{
    opacity: 1;
}

.show2{
    position: absolute;
    right: 170px;
    top: 0px;
    display: none;
   
    
}

.show2 input{
    background: transparent;
    border: 2px solid rgb(186, 162, 131);
    border-radius: 20px;
    padding: 5px;
}






/* .header-left
{
    width: 300px;
    margin-left: 10px;
    margin-right: 30px;
    margin-top: 5px;
    max-width: 500px;
    flex-shrink: 0;
    display: flex;
    justify-self: center;
    justify-content: end;
    align-items: center;
    
    
}
.search-bar{
    flex: 1;
    height: 36px;
    margin-right: 15px;
    padding-left: 10px;
    background-color: rgb(253, 248, 234);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(191, 159, 118);
    border-radius: 3px;
    box-shadow: inset 1px 2px 2px
    rgba(0, 0, 0, 0.3)
    }
.search-bar::placeholder{
font-family: 'Times New Roman', Times, serif;
font-size: 16px;
color: rgb(191, 159, 118);
}
.search-button{
height: 39px; 
width: 30px; 
background: transparent;
border-width: 0px;
border-style: solid;
border-color: lightgrey;
margin-left: 0px;
margin-right: 20px;


}
.search-button-img{
width: 25px;
margin-top: 4px;
margin-left: 0px;
} */


.more{
    position: relative;
    width: 300px;
    text-align: center;
    height: 200px;
    font-family:"Vidaloka", serif;
    font-size: 30px;
    color: rgb(186, 162, 131);
    background-color: rgb(253, 248, 234);
    border-radius: 30px;
    margin-right: 30px;
    padding-top: 20px;
    margin-bottom: 10px;
    margin-left: 20px;

}

.more::before{
    position: absolute;
    content: attr(data-gallary);
    width: 250px;
    top: 80px;
    left: 30px;
    opacity: 0;
    border-top: 1px solid rgb(186, 162, 131);
    border-bottom: 1px solid rgb(186, 162, 131);

}

.more:hover::before{
    opacity: 1;
}

.more:hover{
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

.more-text{
    font-family: Indie, Flower,family;
    font-size: 30px;
    color: rgb(186, 162, 131);
    text-align: center;
    margin-left: 330px;
    margin-right: 230px;

}

.more-text2{
    display: inline-block;
    font-family: Indie, Flower,family;
    font-size: 15px;
    color: rgb(186, 162, 131);
    text-align: center;


}

.js-data-total{
    display: inline-block;
}

.data-colum{
    display: flex;
   
    
}

.add-button{
    padding: 60px;
    
}

.edit-button{
    padding: 10px;
}
.cancelAdd,
.add-submit{
    background: transparent;
    border: solid 1px rgb(186, 162, 131);
    border-radius: 20px;
    padding: 20px;
    width: 200px;
    color: rgb(186, 162, 131);
    font-size: 20px;
}
.cancelAdd:hover,
.add-submit:hover{
    cursor: pointer;
    background: rgba(0, 0, 0, 0.2);

}

.add-button:hover{
    cursor: pointer;
    opacity: 0;
}
.edit-button:hover{
    cursor: pointer;
    color: black;
}

.data-list{
   
    background-color: rgb(253, 248, 234);
    /* border: solid 2px black; */
    width: 900px;
    padding: 50px;
    padding-top: 25px;
    border-radius: 30px;
}

.data-header{
   border-bottom: 2px solid rgb(186, 162, 131);
   height: 32px;
   width: 290px;
   font-family:"Vidaloka", serif;
   font-size: 30px;
   color: rgb(186, 162, 131);
}

.data-header-two{
    width: 30px;
    border-bottom: 2px solid rgb(186, 162, 131);
}
 .data-each{
    display: grid;
    grid-template-columns: 280px 290px 230px 35px 35px 35px;
    margin-top: 10px;
    padding: 10px;
    font-size: 18px;
  
    
 }

.data-each-row{
    display: inline-block;
    font-size: 18px;
    border-bottom: dotted 1px;
    background-color: rgb(253, 248, 234);
    width: 290px;
}

.data-each-row2{
    display: inline-block;
    
    font-size: 18px;
    border-bottom: dotted 1px;
    background-color: rgb(253, 248, 234);
    width: 30px;
}

.on-btn{
    display: block;
}

.off-btn{
    display: none;
}

.modal-backround{
    display: none;
    position: absolute;
    width: 1380px;
    height: 700px;
    top: 0;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(7px);
    z-index: 5;
    
}

.modal-addProducts{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    width: 1000px;
    height: 550px;
    /* background-color: rgb(253, 248, 234); */
    /* background: transparent; */
    /* border: solid rgb(186, 162, 131) 3px; */
    /* box-shadow: 3px 4px 3px rgba(0, 0, 0, 0.2); */
    display: flex;

    background-color: rgba(250, 250, 250, 0.12);
    backdrop-filter: blur(10px);
    
   

}

.buttons-con{
    display: grid;
    grid-template-columns: 250px 250px;
    justify-content: center;
    margin-left: 200px;
    margin-top: 80px;

}

.modal-addContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    width: 700px;
    gap: 10px;
    margin-top: 30px;
    
}

.modal-add{
    justify-self: center;
    color: rgb(186, 162, 131);
    
    
}

.modal-addImgcon{
    margin-top: 70px;
    color: rgb(186, 162, 131);
    
   
}



.modal-addImg{
    justify-self: end;
    border: solid 1px rgb(186, 162, 131);
    height: 150px;
    overflow: hidden;
    
}


.modal-add label{
    display: block;
    margin-bottom: 10px;
    font-size: 20px;

}

.add{
    border: 1px solid rgb(186, 162, 131);
    width: 300px;
    height: 20px;
    padding: 5px;
    margin-bottom: 10px;
    background: transparent;
   
}



.removeAdd:hover{
  cursor: pointer;
}

.removeAdd2:hover{
    cursor: pointer;
  }
.img-pre{
    width: 250px;
    align-self: center;
    object-fit: cover;
}

.modal-suport{
    display: none;
    position: absolute;
    top: 0;
    background-color: rgba(250, 250, 250, 0.12);
    backdrop-filter: blur(10px);
    width: 100%;
    height: 100%;
    animation-name: modalSlideUp;
    animation-duration: 1s;
}

.modal-soport-container{
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(253, 248, 234);
    border: solid 1px rgb(186, 162, 131);
    width: 600px;
    height: 400px;
    display: flex;
}

.close-suport{
    position: absolute;
    right: 15px;
    top: 5px;
}

.close-suport:hover{
    cursor: pointer;
 
}

.suport-head{
    position: absolute;
    left: 190px;
    top: 30px;
    font-size: 25px;
}

.sH::before{
    content: '';
    position: absolute;
    background-color: rgb(186, 162, 131);
    width: 400px;
    height: 1px;
    top: 85px;
    left: 100px;
}

.modal-soport-container ul{
    
    list-style: none;
    margin-top: 120px;
    z-index: 3;
}
.modal-soport-container,
.modal-soport-container a{
    position: relative;
    text-decoration: none;
    font-family:"Vidaloka", serif;
    font-size: 20px;
    color: rgb(186, 162, 131);
    line-height: 60px;

   
}

.modal-soport-container a::before{
   content: attr(data-gallary);
   position: absolute;
   top:-40px;
   left: 0px;
   font-size: 13px;
   opacity: 0;
}

.modal-soport-container a:hover::before{
    opacity: 1;
}


.modal-soport-container svg{
    margin-right: 10px;
    
}

.suport-pic{
    position: absolute;
    left: 140px;
    top: 20px;
    /* margin-top: 170px;
    margin-left: 100px; */
    opacity: 0.1;
    z-index: 1;
}

@keyframes modalSlideUp{
    0%{
        transform:  translateX(-100%);
    }
    100%{
        transform: translateX(0);
    }
}

/* edit modal */

.modal-edit{
    display: none;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    z-index: 10;
}

.edit-container{
    position: absolute;
    left: 50%;
    top: 150px;
    transform: translateX(-50%);
    background-color: rgb(253, 248, 234);
    border: solid rgb(186, 162, 131) 1px;
    padding: 50px;
  
    
}
.edit-form{
   
    display: flex;
    
}

.edit-form input{
    display: block;
    color: rgb(186, 162, 131);
    
}

.labelInput{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}

.edit-form label{
    line-height: 50px;
    color: rgb(186, 162, 131);
}

.edit-form input:placeholder-shown{
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  border-color: rgb(186, 162, 131);
  background: transparent;
}

.editImgAg,
.editImg{
  width: 150px;
}

.editImg-text{
  color: rgb(186, 162, 131);
  font-size: 20px;
  line-height: 30px;
  
}

.editImgCon{
    margin-left: 55px;
    margin-bottom: 20px;
}

.submit-container{
    display: flex;
    gap: 30px;
   
}

.edit-cancel,
.edit-submit{
    width: 120px;
    background: transparent;
    border: solid rgb(186, 162, 131) 1px;
    border-radius: 20px;
    padding: 10px;

}

.edit-cancel:hover,
.edit-submit:hover{
    cursor: pointer;
    background: rgba(0, 0, 0, 0.2);
}

.errorId{
    display: none;
    color: red;
    font-size: 12px;
}

.errorId.error{
    display: block;
    color: red;
    font-size: 12px;
}

.errorId1{
    display: none;
    color: red;
    font-size: 12px;
}

.errorId1.error{
    display: block;
    color: red;
    font-size: 12px;
}

.errorId2{
    display: none;
    color: red;
    font-size: 12px;
}

.errorId2.error{
    display: block;
    color: red;
    font-size: 12px;
}

#selectCategory,
#editCategory
{
    color: rgb(186, 162, 131);
    font-size: 15px;
    border: solid 1px rgb(186, 162, 131);
    background: transparent;
    padding: 7px;
    width: 200px;
    cursor: pointer;
}

.flex{
    display: flex;
    gap: 30px;
    margin-right: 40px;
   
}

.addCategorys{
    text-align: center;
    position: relative;
}

.addCategorys::before{
    content: 'Add More Categorys';
    position: absolute;
    border-radius: 20px;
    border: 1px solid rgb(186, 162, 131);
    background: rgba(250, 250, 250, 0.4);
    backdrop-filter: blur(12px);
    padding: 7px;
    width: 200px;
    left: -60px;
    top: -40px;
    opacity: 0;

}

.addCategorys:hover::before{
    opacity: 1;
}

.plusCate{
  cursor: pointer;
}

.modalCate{
    position: absolute;
    top: 210px;
    right: 235px;
    z-index: 11;
    background: rgb(253, 248, 234);
    border: solid 1px rgb(186, 162, 131) ;
    padding: 50px;
    display: none;


}

#newCate{
    color: rgb(186, 162, 131);
    font-size: 20px;
   
}

#newCate input{
    display: block;
    margin-top: 10px;
    border: solid 1px rgb(186, 162, 131);
   
}

#newCate button{
    border-radius: 5px;
    padding: 5px;
    background: transparent;
    margin-top: 20px;
    margin-left: 35px;
    border: solid 1px rgb(186, 162, 131);
    color: rgb(186, 162, 131);
    font-size: 15px;
    cursor: pointer;
}

#newCate input::placeholder{

   
}

.close{
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
}

.smallerTxt{
    font-size: 15px;
    
}

.underLine{
    font-size: large;
   
   
}